{% extends 'BpCommonBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header"><h2>Comment</h2></div>
    <div class="content">
        {% if comments is defined and comments is not null %}
            <div class="comments-list">
                {% for comment in comments %}
                    <div class="active">{{ comment.description }} <span class="pull-right"><i class="glyphicon glyphicon-pencil"></i> </span></div>
                {%endfor%}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
