.idea
.vagrant
composer.phar
web/bundles
web/js/
web/css/
web/xml/rutherglen/sitemap-*.xml
web/xml/fallscreek/sitemap-*.xml
web/xml/gvrt/sitemap-*.xml
web/xml/mansfield/sitemap-*.xml
web/.htaccess
web/robots.txt
web/uploads
app/*.cache
app/cache/*
app/logs/*
vendor/
app/app.sqlite
bin/
app/config/parameters.yml
app/check.php
app/var
app/SymfonyRequirements.php
acceptance_config.yml
boxes/*
*~
.DS_Store
